<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org">
<head>
	<title>Bookstore</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Books</h3>
<table>
	<tr>
	<th>Author</th>
	<th>Title</th>
	<th>ISBN</th>
	<th>Year</th>
	</tr>
	
	<tr th:each="book : ${ books }">
	<td th:text="${ book.getAuthor() }">Author</td> 
	<td th:text="${ book.getTitle() }">Title</td>
	<td th:text="${ book.getIsbn() }">ISBN</td>
	<td th:text="${ book.getYear() }">Year</td>
	<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
	</tr>
	
</table>

<a href="/add">Add Book</a>
</body>
</html>