<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org">
<head>
	<title>Bookstore</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

</head>
<body>
<h1>Categories</h1>
<table class="table table-striped">
	<tr>
	<th>Name</th>
	</tr>
	<tr th:each="category : ${ categories }">
	<td th:text="${ category.getName() }">Name</td> 
	<!-- ei ole metodeja controllerissa
	<td><a th:href="@{/delete/{id}(id=${category.id})}" class="btn btn-danger">Delete</a></td>
	<td><a th:href="@{/edit/{id}(id=${category.id})}" class="btn btn-primary">Edit</a></td> 
	-->
	</tr>
	
</table>

<p><a href="/addCategory" class="btn btn-success">Add Category</a></p>
<p><a href="/booklist">Go to book list</a></p>
</body>
</html>